@charset "UTF-8";
body {
  min-width: 1440px;
  overflow: auto;
}
img,
object {
  max-width: 100%;
}

input[type='button'],
input[type='submit'],
input[type='reset'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  -webkit-appearance: none;
}

img {
  -ms-interpolation-mode: bicubic;
}
html{
  font-size: 1.042vw
}
/* @media screen and (min-width: 1900px) {
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 1900px) {
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 1500px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 14px;
  }
} */

/* 
@media screen and (max-width: 1100px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 9px;
  }
} */

a {
  color: black;
}

body {
  user-select: none;
  font-weight: 400;
}

button {
  outline: none;
}

img {
  vertical-align: top;
}
p {
  font-weight: 400;
  color: rgba(80, 93, 117, 1);
  line-height: 1.8rem;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #f5f5f5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #f5f5f5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.container {
  width: 100%;
  padding: 0 12.5%;
  box-sizing: border-box;
}
.row {
  width: 100%;
  overflow: hidden;
}
.row::after {
  clear: both;
}
.col-8-1,
.col-8-2,
.col-8-3,
.col-8-4,
.col-8-5,
.col-8-6,
.col-8-7,
.col-8-8,
.col-6-1,
.col-6-2,
.col-6-3,
.col-6-4,
.col-6-5,
.col-6-6 {
  float: left;
}

.col-8-1 {
  width: 12.5%;
}
.col-8-2 {
  width: calc(12.5% * 2);
}
.col-8-3 {
  width: calc(12.5% * 3);
}
.col-8-4 {
  width: calc(12.5% * 4);
}
.col-8-5 {
  width: calc(12.5% * 5);
}
.col-8-6 {
  width: calc(12.5% * 6);
}
.col-8-7 {
  width: calc(12.5% * 7);
}
.col-8-8 {
  width: calc(12.5% * 8);
}

.col-offset-8-1 {
  margin-left: 12.5%;
}
.col-offset-8-2 {
  margin-left: calc(12.5% * 2);
}
.col-offset-8-3 {
  margin-left: calc(12.5% * 3);
}
.col-offset-8-4 {
  margin-left: calc(12.5% * 4);
}
.col-offset-8-5 {
  margin-left: calc(12.5% * 5);
}
.col-offset-8-6 {
  margin-left: calc(12.5% * 6);
}
.col-offset-8-7 {
  margin-left: calc(12.5% * 7);
}

.col-6-1 {
  width: 16.666667%;
}
.col-6-2 {
  width: calc(16.666667% * 2);
}
.col-6-3 {
  width: calc(16.666667% * 3);
}
.col-6-4 {
  width: calc(16.666667% * 4);
}
.col-6-5 {
  width: calc(16.666667% * 5);
}
.col-6-6 {
  width: 100%;
}

.col-offset-6-1 {
  margin-left: 16.666667%;
}
.col-offset-6-2 {
  margin-left: calc(16.666667% * 2);
}
.col-offset-6-3 {
  margin-left: calc(16.666667% * 3);
}
.col-offset-6-4 {
  margin-left: calc(16.666667% * 4);
}
.col-offset-6-5 {
  margin-left: calc(16.666667% * 5);
}

h1.part-title {
  font-size: 2.4rem;
  font-weight: 500;
  color: rgba(90, 104, 130, 1);
  line-height: 2.45rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.45rem;
}

h1.part-title + span.orange-small-title {
  font-size: 1.1rem;
  font-weight: 400;
  color: rgba(239, 131, 84, 1);
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  white-space: nowrap;
}

.un-select {
  user-select: none;
}

.look-more {
  color: #ef8354;
  cursor: pointer;
  margin-top: 40px;
  display: block;
  position: relative;
}
.look-more::before {
  content: '';
  display: block;
  width: 100%;
  height: 2.85rem;
  position: absolute;
  top: -4.85rem;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.look-more::after {
  content: '';
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.5rem;
  border: 2px solid #ef8354;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg) translateX(-0.2rem);
}

/* 页头 */
.page-nav-part {
  position: fixed;
  top: 0;
  right: -23.75rem;
  z-index: 999;
  transition: all .7s ease;
}
.page-nav-part .nav-background{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: transparent;
}
.page-nav-part .nav-icon-btn {
  position: fixed;
  width: 2rem;
  height: 2rem;
  right: 2.4rem;
  top: 2.4rem;
  cursor: pointer;
  z-index: 2;
}
.page-nav-part .nav-icon-btn div{
  border-top: 0.2rem solid #fff;
  transition: all 2s ease;
  border-radius: 0.2rem;
}
.page-nav-part .nav-icon-btn .btn-line1{
  transform: rotate(0deg);
  transform-origin: 100% 50%;
  transition: all .6s cubic-bezier(0,.98,.84,1.02);
}
.page-nav-part .nav-icon-btn .btn-line2{
  position: relative;
  top: 1rem;
  transform: rotate(0deg);
  transform-origin: 53% -0.2rem;
  /* transform-origin: 55% -0.08rem; */
  transition: all 1s cubic-bezier(0,.98,.84,1.02);
}
.page-nav-part .nav-content .change-language{
  position: absolute;
  right: 2.5rem;
  bottom: 4.4rem;
  font-size: 1.2rem;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.page-nav-part .nav-content .change-language span{
  cursor: pointer;
  padding-bottom: 0.3rem;
}
.page-nav-part .nav-content .change-language .selected{
  border-bottom: 0.1rem solid #FFF;
  /* font-weight: bold; */
}
.page-nav-part .nav-content {
  position: relative;
  height: 100vh;
  /* width: fit-content; */
  width: 23.75rem;
  /* background-color: white; */
  background-image: url("https://xyi-web.oss-cn-hangzhou.aliyuncs.com/website-otherInfo/imgs/nav-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.page-nav-part .nav-content .main-content-ul {
  position: absolute;
  height: fit-content;
  width: fit-content;
  right: 2.4rem;
  top: 30%;
}
.page-nav-part .nav-content .main-content-ul li{
  margin: 2rem 0 2rem 0;
}
.page-nav-part .nav-content .main-content-ul li .section{
  position: relative;
}
.page-nav-part .nav-content .main-content-ul li .section a{
  margin: 0.8rem 0 0.5rem 0;
  font-size: 1.3rem;
  color: #fff;
  position: relative;
  width: 8rem;
  text-align: right;
}
.page-nav-part .nav-content .main-content-ul li .section .section-item:hover > .rec{
  width: 100%;
}
.section-item .rec{
  width: 0%;
  height: 0.2rem;
  background-color:#EF8354;
  position: absolute;
  bottom: -0.3rem;
  right: 0;
  z-index: -1;
  transition: all 0.3s ease;
}
/* .page-nav-part .nav-content .main-content-ul li .section .section-item::before{
  content: "";
  width: 0%;
  height: 0.2rem;
  background-color:#EF8354;
  position: absolute;
  bottom: -0.3rem;
  right: 0;
  z-index: -1;
  transition: all 0.3s ease;
} */
.page-nav-part .nav-content .main-content-ul li .section-item .active{
  height: 1rem;
  width: 100%;
}
.page-nav-part .nav-content .main-content-ul h1>a{
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
.page-nav-part .nav-content .main-content-ul h1{
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
}
.page-nav-part .nav-content .main-content-ul .section{
  position: relative;
  height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease-in 0.1s;
}
.page-nav-part .nav-content .main-content-ul .section p{
  color: #FFF;
}

/* .page-nav-part .nav-content .main-content-ul li h1:hover + .section{
  height: 10rem;
  overflow: auto;
} */
.page-nav-part .nav-content .main-content-ul li .section:hover{
  height: 10rem;
  overflow: auto;
}
.page-nav-part .nav-content .main-content-ul li .section-active{
  height: 10rem;
  overflow: auto;
}

.page-nav-part .contact-img-ul {
  display: flex;
  flex-direction: row;
}
.page-nav-part .contact-img-ul .erweima_photo{
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  width: 6.2rem;
  height: 6.2rem;
  padding: 0.2rem;
  background-color: #FFF;
  transform: translateX(-50%);
  z-index: 1000;
  opacity: 0;
  transition: all 0.4s ease;
}
.page-nav-part .contact-img-ul .erweima_photo img{
  width: 100%;
  height: 100%;
}
.page-nav-part .contact-img-ul .erweima_photo .triangle{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.8rem;
  background-color: #FFF;
  width: 0;
  height: 0;
  border-top: 0.8rem solid#FFF;
  border-left: 0.8rem solid #4f5d75;
  border-right: 0.8rem solid #4f5d75;
}
.page-nav-part .nav-content .contact-img-ul{
  display: flex;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}
.page-nav-part .nav-content .contact-img-ul li{
  width: 1.3rem;
  margin: 0 .6rem 0 .6rem;
}
.page-nav-part .contact-img-ul li:nth-of-type(2){
  position: relative;
}
.page-nav-part .contact-img-ul li:nth-of-type(2):hover {
  cursor: pointer;
}
.page-nav-part .contact-img-ul li:nth-of-type(2) > img:hover ~ .erweima_photo{
  bottom: 3rem;
  opacity: 1;
}


/* 页脚 */
.page-footer-part {
  background-color: #4f5d75;
  padding-top: 2rem;
  height: 13.2rem;
  box-sizing: border-box;
  overflow: visible;
}
.page-footer-part .page-footer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #636E84;
}
.page-footer-part .content-link-ul {
  display: flex;
}
.page-footer-part .content-link-ul > li {
  width: fit-content;
  margin-left: 4rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  line-height: 1.25rem;
}
.page-footer-part .content-link-ul .logo {
  width: 5.25rem;
  height: 2.1rem;
  display: block;
  margin-right: 3.75rem;
  margin-left: 0;
}
.page-footer-part .content-link-ul > li span {
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  line-height: 1.25rem;
  padding-bottom: 1rem;
  display: block;
}
.page-footer-part .content-link-ul > li ul li a {
  font-size: 0.8rem;
  font-weight: 400;
  color: #e5ecf3;
  line-height: 1.1rem;
  padding-bottom: 1rem;
  display: block;
}
.page-footer-part .contact-img-ul {
  display: flex;
  flex-direction: row;
}
.page-footer-part .contact-img-ul li a>img{
  width: 1.6rem;
}
.page-footer-part .contact-img-ul li>img{
  width: 1.6rem;
}
.page-footer-part .contact-img-ul .erweima_photo{
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  width: 6.2rem;
  height: 6.2rem;
  padding: 0.2rem;
  background-color: #FFF;
  transform: translateX(-50%);
  z-index: 1000;
  opacity: 0;
  transition: all 0.4s ease;
}
.page-footer-part .contact-img-ul .erweima_photo img{
  width: 100%;
  height: 100%;
}
.page-footer-part .contact-img-ul .erweima_photo .triangle{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.8rem;
  background-color: #FFF;
  width: 0;
  height: 0;
  border-top: 0.8rem solid#FFF;
  border-left: 0.8rem solid #4f5d75;
  border-right: 0.8rem solid #4f5d75;
}
.page-footer-part .contact-img-ul li {
  margin: 0 0.8rem;
}
.page-footer-part .contact-img-ul li:nth-of-type(1) {
  margin-left: 0;
}
.page-footer-part .contact-img-ul li:nth-of-type(2){
  position: relative;
}
.page-footer-part .contact-img-ul li:nth-of-type(2):hover {
  cursor: pointer;
}
.page-footer-part .contact-img-ul li:nth-of-type(2) > img:hover ~ .erweima_photo{
  bottom: 3rem;
  opacity: 1;
}
.page-footer-part .contact-img-ul li:last-of-type {
  margin-right: 0;
}
.page-footer-part .contact-text-ul {
  margin-top: 3rem;
}
.page-footer-part .contact-text-ul li {
  font-size: 0.8rem;
  color: white;
  line-height: 1.1rem;
  padding-bottom: 0.75rem;
  display: block;
}
.page-footer-part .contact-text-ul li img {
  vertical-align: middle;
  padding-right: 1rem;
  height: 1rem;
}
.page-footer-part .copy-right {
  text-align: center;
  color: white;
  font-size: 0.6rem;
  line-height: 2.4rem;
}
.page-footer-part .copy-right a {
  font-size: 0.6rem;
  color: white;
}