.introduction-div {
  background-color: #FEFFFE;
}
.header {
  /* height: 360px; */
  background: #b6b9c4;
}
/* 公司介绍 */
.company-profile {
  padding-top: 3.95rem;
}
.company-profile p {
  color: #8c95a4;
}
.company-profile .line {
  width: 19.75rem;
  height: 1px;
  background: #d1d6dd;
  display: block;
  margin-top: 6.4rem;
  margin-bottom: 8rem;
}

/* 发展历程 */
.part-title-div {
  position: relative;
  top: 7.55rem;
}
.development-history-title {
  height: 15.95rem;
  /* background: #b6b9c4; */
  background-image: url("https://xyi-web.oss-cn-hangzhou.aliyuncs.com/website-otherInfo/imgs/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background: rgba(120,124,144,0.47); */
  text-align: center;
}
.img-text {
  position: relative;
  font-size: 2rem;
  font-family: SourceHanSansCN-Normal, SourceHanSansCN;
  font-weight: 400;
  color: white;
  line-height: 15.95rem;
  letter-spacing: 1rem;
}

.development-history-list-part {
  background: #e7e8ec;
}
.quotation-part {
  text-align: right;
}
.quotation-part img {
  margin-top: 3.25rem;
  margin-right: -1.4rem;
  position: relative;
}
.development-history-list-div {
  background-color: #FEFFFE;
  padding-bottom: 2.2rem;
}
.development-history-ul {
  min-height: 32.5rem;
  height: 32.5rem;
  overflow: hidden;
  transition: .3s ease-out;
  box-sizing: border-box;
  padding: 3.3rem 0 0;
}
.development-history-ul > li {
  margin: 0 16.667%;
  padding-top: 1rem;
  width: calc(100% - 16.6667% * 2);
  box-sizing: border-box;
  border-bottom: 1px solid #d1d5dc;
}
.development-history-ul > li:nth-of-type(1) {
  padding-top: 0;
}
.development-history-ul > li:last-of-type {
  border: 0;
}
.development-history-ul .title {
  color: #ef8354;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.1rem;
  letter-spacing: 0.05rem;
  box-sizing: border-box;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}
.development-history-ul .month-list {
  width: 78%;
  display: inline-block;
}
.development-history-ul > li ul li {
  padding-bottom: 2rem;
  color: #505d75;
  line-height: 1.4rem;
}
.development-history-ul > li ul li .month {
  color: #A9B0BC;
  margin-bottom: 0.2rem;
}
.development-history-list-div .look-more {
  margin-left: 16.667%;
}

/* 合作伙伴 */
.cooperative-partner {
  margin-top: 6rem;
}
.cooperative-partner-ul {
  width: 80%;
  padding: 3.5rem 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cooperative-partner-ul li {
  width: 20%;
  text-align: center;
  box-sizing: border-box;
}
.cooperative-partner-ul li img {
  width: 80%;
}