.header {
  height: 15.5rem;
  width: 100%;
  background-image: url("https://xyi-web.oss-cn-hangzhou.aliyuncs.com/website-otherInfo/imgs/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.other-info-part {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.other-info-div {
  width: 100%;
  height: calc(100% - 3rem);
  position: relative;
  margin: 2rem 0 1rem;
}
/* .other-info-div .tab-ul-div {
  position: absolute;
  left: 0;
} */
.other-info-div .tab-ul {
  position: absolute;
  left: 0;
  width: 25%;
}
.other-info-div .tab-ul li {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(80, 93, 117, 1);
  line-height: 1.4rem;
  letter-spacing: 0.2rem;
  padding: 0.5rem 4rem 0.5rem 0;
  text-align: right;
  white-space: nowrap;
  border-right: 4px solid rgba(239, 131, 84, 0);
  transition: 0.2s ease-out;
}
.other-info-div .tab-ul li.active {
  font-size: 1.4rem;
  font-weight: 500;
  color: #505d75;
  line-height: 2rem;
  padding: 0.5rem 4rem 0.5rem 0;
  border-right: 4px solid #ef8354;
}

.content-container {
  height: 100%;
  overflow-y: auto;
  border-left: 1px solid #979797;
  box-sizing: border-box;
  width: 100%;
  padding-left: 25%;
  padding-right: 12.5%;
  transition: .3s;
}
.content-container::before {
  content: "";
  width: 1px;
  height: 100%;
  display: block;
  background-color: #bbbbbb;
  position: absolute;
  left: 25%;
}
.img-info-ul {
  display: flex;
  flex-wrap: wrap;
}
.img-info-ul li {
  width: calc(33.3% - 1.8rem * 2);
  box-sizing: border-box;
  height: 21.2rem;
  margin: 0rem 0rem 2rem 2.5rem;
  transition: 0.3s ease-out;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.07);
  padding: 1.5rem 1rem 1.1rem;
  position: relative;
}
.img-info-ul li:hover {
  box-shadow: 0px 20px 60px -20px rgba(0, 0, 0, 0.3);
}
.img-info-ul li .img-div{
  height: 10rem;
  width: 100%;
  margin-bottom: 1.5rem;
  background-color: #EDEDED;
}
.img-info-ul li a{
  width: 100%;
  height: 100%;
  display: block;
}
.img-info-ul li a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img-info-ul li p {
  font-weight: 400;
  color: #505d75;
  line-height: 1.4rem;
  text-align: center;
}
.img-info-ul li span {
  font-size: 0.8rem;
  font-weight: 400;
  color: #505D75;
  line-height: 1.1rem;
  display: block;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.media-report-ul .time-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.2rem 0 1.2rem 0;
}
.media-report-ul .time-head span{
  color: #bdc1cb;
  font-size: 0.85rem;
  width: 10%;
  text-align: right;
}
.media-report-ul .time-head div{
  background-color:  #bdc1cb;
  height: 1px;
  width: 89%;
  opacity: 0.7;
}
.media-report-ul .list-item .content:hover{
  color: #ef8354;
}
.media-report-ul .list-item a{
  width: 100%;
  margin-bottom: 1.5rem;
  line-height: 1.4rem;
  display: flex;
}
.media-report-ul .list-item span {
  display: inline-block;
}
.media-report-ul .list-item .time {
  width: 25%;
  text-align: center;
  color: #bdc1cb;
}
.media-report-ul .list-item .time .day {
  color: #ef8354;
  margin-right: 0.3rem;
}
.media-report-ul .list-item .content {
  width: 50%;
  text-align: left;
  color: #505d75;
  line-height: 1.4rem;
  margin-right: 3rem;
}
.media-report-ul .list-item .source {
  width: 25%;
  color: #bdc1cb;
}

.small-title {
  padding-left: 1.8rem;
  font-weight: 500;
  color: #bdc1cb;
  line-height: 1.4rem;
  letter-spacing: .2rem;
  margin-bottom: 0.5rem;
}
.logo-ul li {
  height: 11rem;
}
.logo-ul li a img{
  object-fit: cover;
}
.video-ul li {
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-ul li .img-container{
  position: relative;
  height: 75%;
  width: 100%;
}
.video-ul li .img-container .operation{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease;
}
.video-ul li .img-container .operation-active:hover{
  opacity: 1 !important;
}
.video-ul li .img-container .circle{
  /* position: absolute;
  top: 0;
  bottom: 0;
  margin: auto; */
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  border: 0.08rem solid #FFF;
  opacity: 0.6;
  transition: all 0.2s ease;
  margin: 0.5rem;
}
/* .video-ul li .img-container .download-btn{
  transition: all 0.8s ease;
} */
.video-ul li .img-container .download-btn span{
  color: #FFF;
  opacity: 0;
}
.video-ul li .img-container .btn-active:hover{
  opacity: 1 !important;
  cursor: pointer !important;
}
.video-ul li .img-container .circle .triangle{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-top: 0.4rem solid transparent;
  border-left: 0.6rem solid #FFF;
  border-bottom: 0.4rem solid transparent;
  transform: translateX(0.05rem);
}
.video-ul li .img-container .circle .rec1{
  position: absolute;
  top: 0.5rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 0.1rem;
  height: 0.5rem;
  background-color: #FFF;
}
.video-ul li .img-container .circle .tri1{
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-top: 0.3rem solid #FFF;
  border-left: 0.2rem solid transparent;
  border-right: 0.2rem solid transparent;
}
.video-ul li .img-container .circle .rec2{
  position: absolute;
  top: 1.3rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 0.6rem;
  height: 0.15rem;
  background-color: #FFF;
}
.video-ul li .img-container .pic{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.video-ul li span{
  position: relative;
  margin: .5rem 0 0 0;
  color: #505D75;
  bottom: 0;
}
.video-ul li .download{
  position: absolute;
  bottom: 1rem;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.img-ul li {
  height: 14rem;
}
.img-ul li a{
  height: 83%;
  display: flex;
  justify-content: center;
}
.img-ul li a img{
  height: 100%;
  width: auto;
}

.white-page li{
  height: 12.5rem;
}
.white-page li a{
  display: flex;
  align-items: flex-start;
}
.white-page li a img{
  width: 100%;
  height: auto;
  border: 1px solid rgba(0,0,0,0.1);
}

.video-group{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.7);
  z-index: 1000;
  display: none;
}
.video-group video{
  width: 82%;
  height: 82%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  object-fit: cover;
  border-radius: 0.5rem;
}
.video-group .video-group-btn {
  position: fixed;
  width: 2rem;
  height: 2rem;
  right: 6rem;
  top: 4.2rem;
  cursor: pointer;
  z-index: 2;
}
.video-group .video-group-btn div{
  border-top: 0.2rem solid #fff;
}
.video-group .btn-line1{
  transform: rotate(-45deg);
  transform-origin: 100% 50%;
}
.video-group .btn-line2{
  position: relative;
  top: 1rem;
  transform: rotate(-135deg);
  transform-origin: 53% -0.2rem;
}